
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4>Đơn hàng của bạn đã được ghi nhận. 
    Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.</h4>
    <a href="@Url.Action("Index", "BookStore")" class="btn btn-primary">Về trang chủ</a>
</div>