@model IEnumerable<DemoMVC.Models.SACH>

@{
    ViewBag.Title = "SanPhamTheoNXB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2 class="text-center text-info mb-4">Sách Theo Nhà Xuất Bản</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4 d-flex">
                <div class="card">
                    <img src="~/Content/img/product/@item.Anhbia" class="card-img-top" alt="@item.Mota">
                    <div class="card-body" style="display: flex; flex-direction: column">
                        <h5 class="card-title text-center"
                            style="flex: 1;
                    font-size: 16px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;">
                            @item.Tensach
                        </h5>
                        <p class="card-text text-danger text-center">@Html.FormatValue(@item.Giaban, "{0:0,0}") <span>Vnđ</span></p>
                        <a href="#" class="btn btn-outline-info">Mua ngay</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

